<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        form {
            width: 80%;
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button[type="submit"], a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button[type="submit"]:hover, a:hover {
            background-color: #0056b3;
        }
        a {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <form action="/save" method="POST">
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" name="titulo">
        <label for="nombre">Autor</label>
        <input type="text" id="autor" name="autor">
        <button type="submit">Guardar</button>
        <a href="/">Cancelar</a>
    </form>
</body>
</html>
